@font-face {
  font-family: "Excalifont";
  src: url("../assets/fonts/excalifont/Excalifont-Regular-a88b72a24fb54c9f94e3b5fdaa7481c9.woff2")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range:
    U+0020-007e, U+00a0-00a3, U+00a5-00a6, U+00a8-00ab, U+00ad-00b1,
    U+00b4, U+00b6-00b8, U+00ba-00ff, U+0131, U+0152-0153, U+02bc, U+02c6,
    U+02da, U+02dc, U+0304, U+0308, U+2013-2014, U+2018-201a, U+201c-201e,
    U+2020, U+2022, U+2024-2026, U+2030, U+2039-203a, U+20ac, U+2122, U+2212;
}

@font-face {
  font-family: "Excalifont";
  src: url("../assets/fonts/excalifont/Excalifont-Regular-be310b9bcd4f1a43f571c46df7809174.woff2")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range:
    U+0100-0130, U+0132-0137, U+0139-0149, U+014c-0151, U+0154-017e,
    U+0192, U+01fc-01ff, U+0218-021b, U+0237, U+1e80-1e85, U+1ef2-1ef3,
    U+2113;
}

@font-face {
  font-family: "Excalifont";
  src: url("../assets/fonts/excalifont/Excalifont-Regular-b9dcf9d2e50a1eaf42fc664b50a3fd0d.woff2")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0400-045f, U+0490-0491, U+2116;
}

@font-face {
  font-family: "Excalifont";
  src: url("../assets/fonts/excalifont/Excalifont-Regular-41b173a47b57366892116a575a43e2b6.woff2")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range:
    U+037e, U+0384-038a, U+038c, U+038e-0393, U+0395-03a1, U+03a3-03a8,
    U+03aa-03cf, U+03d7;
}

@font-face {
  font-family: "Excalifont";
  src: url("../assets/fonts/excalifont/Excalifont-Regular-3f2c5db56cc93c5a6873b1361d730c16.woff2")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range:
    U+02c7, U+02d8-02d9, U+02db, U+02dd, U+0302, U+0306-0307, U+030a-030c,
    U+0326-0328, U+212e, U+2211, U+fb01-fb02;
}

@font-face {
  font-family: "Excalifont";
  src: url("../assets/fonts/excalifont/Excalifont-Regular-349fac6ca4700ffec595a7150a0d1e1d.woff2")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range:
    U+0462-0463, U+0472-0475, U+04d8-04d9, U+04e2-04e3, U+04e6-04e9,
    U+04ee-04ef;
}

@font-face {
  font-family: "Excalifont";
  src: url("../assets/fonts/excalifont/Excalifont-Regular-623ccf21b21ef6b3a0d87738f77eb071.woff2")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0300-0301, U+0303;
}

:root {
  --app-font: "Excalifont", cursive;
  font-family: var(--app-font);
  color: #172033;
  background: #f3f5f8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  color: inherit;
}
